.penguin-wrapper {
  left: 500px;
  top: 490px;
  position: relative;
  display: inline-block;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.penguin-img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  user-select: none;
}

/* Adjust positioning for happy sprite */
.penguin-happy {
  position: relative;
  top: 0px;
  left: 0px;
}

/* Adjust positioning for sleepy sprite */
.penguin-sleepy {
  position: relative;
  top: 28px;
}

.speech-bubble {
  position: absolute;
  bottom: 20%;
  left: 160%;
  transform: translateX(-50%) scale(0.9);
  opacity: 0;
  animation: bubble-pop 0.3s ease forwards;
  width: 190px;
  height: 130px;
  display: flex;
  justify-content: center;
  filter: drop-shadow(2px 3px 3px rgba(0, 0, 0, 0.3));
}

.regular-bubble {
  width: 275px; 
  height: 170px;
  transform: translateX(-50%) scale(1.1);
}

.speech-bubble-img {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.speech-text {
  position: relative;
  font-size: 13px;
  font-weight: 600;
  text-align: center;
  z-index: 5;
  line-height: 1.4;
  color: #0d1b2a;
  font-family: "Poppins", sans-serif;
}

.regular-text {
  top: 30px;      
  padding: 15px 25px;
}

.mad-text {
  top: 13px;      
  padding: 10px 20px;
}


@keyframes bubble-pop {
  0% {
    opacity: 0;
    transform: translateX(-50%) scale(0.7);
  }
  100% {
    opacity: 1;
    transform: translateX(-50%) scale(1);
  }
}
