.btn {
    background-color: #415A77;
    border-radius: 2px;
    padding: 10px;
    font-family: 'Jersey 25', sans-serif;
    transition: 0.10s;
}

.btn-plus{
    position: absolute;
    top: 412px;
    left: 420px;
    width: 129px;
    height: 41px;
    background-color: rgba(65, 90, 119, 0.3);
    font-family: 'Jersey 25', sans-serif;
    font-size: 30px;
    color: #0D1B2A;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border: none;
    box-shadow: 0px 4px 4px #415A77;
}

.timer-igloo {
    position: absolute;
    top: 264px;
    left: 0;
    width: 475px;
    height: 344px;
}

.btn:hover{
    background-color: #778da9;
    color: #E0E1DD;
}

.timer-container {
    background-color: #E0E1DD;
    overflow: hidden;
    width: 100%;
    min-width: 791px;
    min-height: 600px;
    position: relative;
}

.timer-header-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 791px;
    height: 38px;
    background-color: #D9D9D9;
}

.timer-footer-bar {
    position: absolute;
    top: 586px;
    left: 0;
    width: 791px;
    height: 30px;
    background-color: #778da9;
}

.timer-igloo {
    position: absolute;
    top: 264px;
    left: 0;
    width: 475px;
    height: 344px;
}


.dot {
    position: absolute;
    width: 19px;
    height: 19px;
    border-radius: 9.5px;
}

.line {
    position: absolute;
    width: 35px;
    height: 5px;
    background-color: #415A77;
}


.timer-title-bg {
    position: absolute;
    top: 80px;
    left: 402px;
    width: 326px;
    height: 74px;
    background-color: rgba(65, 90, 119, 0.3);
}

.timer-title {
    position: absolute;
    top: 50px;
    left: 408px;
    font-family: 'Jersey 25', sans-serif;
    color: #0D1B2A;
    font-size: 130px;
    text-shadow: 0px 4px 4px #778da9;
    line-height: normal;
    white-space: nowrap;
}

.time {
    padding-top: 20px;
    position: center;
    top: 50px;
    left: 408px;
    font-family: 'Jersey 25', sans-serif;
    color: #0D1B2A;
    font-size: 100px;
    text-shadow: 0px 4px 4px #778da9;
    line-height: normal;
    white-space: nowrap;
}

.btn-back {
    position: absolute;
    top: 50px;
    left: 11px;
    width: 120px;
    height: 42px;
    background-color: rgba(65, 90, 119, 0.3);
    font-family: 'Jersey 25', sans-serif;
    font-size: 30px;
    color: #0D1B2A;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 0;
    border: none;
}

.add-time {
   display:flex;
   position: absolute;
   align-items: absolute;
   padding: 100px;
   border: none;


}

.edit {
   display: flex;
   position: absolute;
   align-items: absolute;
   padding: 2px;
   border: none;
}